<div class="row">
  <p-card [style]="{ width: '20rem' }">
    <div class="row">
      <div class="col-12">
        <h2>Add new student</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <label for="name">Name</label>
      </div>
      <div class="col-12">
        <input pInputText id="name" aria-describedby="name" required />
      </div>

      <div class="col-12">
        <small id="username-help"> Enter name of student. </small>
      </div>
    </div>

    <div class="row" style="margin-top: 2rem">
      <div class="col-12">
        <label for="username">Address</label>
      </div>
      <div class="col-12">
        <input
          pInputText
          id="username"
          aria-describedby="username-help"
          required
        />
      </div>

      <div class="col-12">
        <small id="username-help"> Enter address of student. </small>
      </div>
    </div>

    <p-button>Save information student</p-button>
  </p-card>
</div>

<div class="row">
  <h2>Students</h2>
</div>

<div class="row">
  <app-card-student></app-card-student>
</div>
