<div class="row">
  <p-card [style]="{ width: '20rem' }">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-12">
          <h2>Add new student</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <label for="name">Name</label>
        </div>
        <div class="col-12">
          <input
            pInputText
            id="name"
            aria-describedby="name"
            formControlName="name"
          />
        </div>

        <div class="col-12">
          <small id="username-help"> Enter name of student. </small>
        </div>
      </div>

      <div class="row" style="margin-top: 2rem">
        <div class="col-12">
          <label for="username">Address</label>
        </div>
        <div class="col-12">
          <input
            pInputText
            id="username"
            aria-describedby="username-help"
            formControlName="address"
          />
        </div>

        <div class="col-12">
          <small id="username-help"> Enter address of student. </small>
        </div>
      </div>

      <p-button (onClick)="saveStudent()">Save information student</p-button>
    </form>
  </p-card>
</div>

<div class="row">
  <h2>Students</h2>
</div>

<div class="row">
  <ng-container *ngFor="let student of students">
    <div class="col-2" style="margin: 2rem">
      <app-card-student [student]="student"></app-card-student>
    </div>
  </ng-container>
</div>
